DATABASE_HOST="localhost"
DATABASE_PORT=5432
DATABASE_USER="dashboard"
DATABASE_PASS="123456"
DATABASE_NAME="metrics"
DATABASE_PREF=""            # Not used currently TODO

DATABASE_DELETE_PERIOD=60*60*24*7   # A week in seconds



